<!-- app/views/items/_item.html.erb -->
<%= turbo_frame_tag dom_id(item) do %>
  <p>
    <strong><%= item.name %></strong>
    <%= link_to 'Edit', edit_item_path(item), data: { turbo_frame: dom_id(item) } %>
  </p>
<% end %>
